<html ng-app='basicApp'>
<head>
<title>Learning Angular - Basic</title>
<!-- Style -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<!-- Behavior -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Use the minimized version when not debugging/learning.  I think there is additional
    debug output you can get when you use the full version
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>    

<!-- Controllers -->
    <script src="/static/controllers/basic.js"></script>
    
</head>

<body ng-controller="BasicController">

<BR><BR>
<div class="container theme-showcase" role="main">

<div class="panel panel-default">
  <div class="panel-body">
	<div class="list-group">
		<h4 class="list-group-item-heading">{{ someText.message }}</h4>
	  <a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">ng-app</h4>
		<p class="list-group-item-text">View Source and note ng-app on html tag of page.  This tells Angular to control this entire page</p>
	  </a>
	  <a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">ng-controller</h4>
		<p class="list-group-item-text">View Source and note ng-controller on body tag of page.
		This tells Angular to use a specific controller for elements within the body.
		The actual controller is loaded via javascript in the head section.
		For more complete pages, the controller would be applied to more specific elements of the page.</p>
	  </a>
	</div>
  </div>
  <div class="panel-footer"><a href="/">Back to Index</a></div>
</div>



<div id="footer">
<div class="container"><p class="text-muted">Learning Angular</p></div>
</div>

</div>
</body>
</html>

