<html ng-app='app'>
<head>
<title>Learning Angular - Index</title>
<!-- Style -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<!-- Behavior -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Use the minimized version when not debugging/learning.  I think there is additional
    debug output you can get when you use the full version
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>    

<!-- Controllers -->
    
</head>

<body>

<BR><BR>
<div class="container theme-showcase" role="main">

<div class="panel panel-default">
  <div class="panel-body">
	<div class="list-group">
		<h4 class="list-group-item-heading">Setup</h4>
		<p class="list-group-item-text">
<ul class="list-group">
  <li class="list-group-item">Flask - web server to serve up Angular files and provide RESTful API for data (later)</li>
  <li class="list-group-item">Angular - of course needed.  Pulled in from googleapis</li>
  <li class="list-group-item">Bootstrap - tinkering with as well for style/layout/etc</li>
</ul>
		</p>
	</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	<div class="list-group">
		<h4 class="list-group-item-heading">Angular experiments</h4>
		<p class="list-group-item-text">
<ul class="list-group">
  <li class="list-group-item"><a href="/static/views/basic.html">Basic</a></li>
  <li class="list-group-item">Larry</li>
  <li class="list-group-item">Curly</li>
</ul>
		</p>
	</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	<div class="list-group">
		<h4 class="list-group-item-heading">RESTful APIs</h4>
		<p class="list-group-item-text">
<ul class="list-group">
  <li class="list-group-item">Tom</li>
  <li class="list-group-item">Dick</li>
  <li class="list-group-item">Harry</li>
</ul>
		</p>
	</div>
  </div>
</div>

	<div id="footer">
		<div class="container">
<p class="text-muted">Learning Angular</p>
		</div>
	</div>
</div>

</body>
</html>

